// todo 等组件发布后移除
body{
  --w-color-text: #2B333E;
  --w-color-text-disabled: #74787A;
  --w-color-text-dark: #0F1423;
  --w-color-divider: #0F142333;
  --w-color-border: #5E616D;
  --w-color-warn: #E8B004;
  --w-color-success: #4A9992;
  --w-color-error: #861717;
}

