/**
 * @description janghood-prismjs-css
 * @author higuaifan
 * @date 2022/4/14
 * @version 1.0.0
 */

code[class*="language-"],
pre[class*="language-"] {
  color: var(--w-color-text);
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--w-color-background);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--w-color-text-disabled);
}

.token.punctuation {
  color: var(--w-color-text-disabled);
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: var(--w-color-error);
}

.token.function-name {
  color: var(--w-color-success);
}

.token.boolean,
.token.number,
.token.function {
  color: var(--w-color-orange);
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: var(--w-color-warn);
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: var(--w-color-pink);
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: var(--w-color-green);
}

.token.operator,
.token.entity,
.token.url {
  color: var(--w-color-blue);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: var(--w-color-green2);
}
